<mat-card>
  <div class="searchHeader">Search Work Orders & Tasks</div>
  <br><br>
  <mat-form-field appearance="outline">
    <input [formControl]="searchField" matInput placeholder="Search">
  </mat-form-field>
</mat-card>
<br><br>
<div class = "resultContainer" *ngIf="workRequestsResults.length > 0">
  <mat-card >
    <mat-card-header><strong>Work Requests</strong>: {{workRequestsResults.length}} result(s) found</mat-card-header>
  <table mat-table [dataSource]="workRequestTableData" multiTemplateDataRows>
    <ng-container [matColumnDef]="column" *ngFor="let column of workRequestColumns; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{workRequestColumnNames[i]}} </th>
      <td mat-cell *matCellDef="let workRequest"> {{workRequest[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order"><button class="viewbutton" mat-flat-button (click)="openDialog(order._id);">View</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="workRequestColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: workRequestColumns;" (click)="openDialog(row._id)"></tr>
  </table>
</mat-card>
<br><br>
</div>
<div class="resultContainer" *ngIf="tasksResults.length > 0">
<mat-card>
  <mat-card-header><strong>Tasks</strong>: {{tasksResults.length}} result(s) found.</mat-card-header>
  <table mat-table [dataSource]="tasksTableData" multiTemplateDataRows>
    <ng-container [matColumnDef]="column" *ngFor="let column of tasksColumns; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{tasksColumnsNames[i]}} </th>
      <td mat-cell *matCellDef="let task"> {{task[column]}} </td>
    </ng-container>
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let task"><button class="viewbutton" mat-flat-button (click)="openDialog(task._id);">View</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tasksColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: tasksColumns;" (click)="openDialog(row.WorkRequestId)" ></tr>
  </table>
</mat-card>
</div>
<div *ngIf="workRequestsResults?.length==0 && tasksResults?.length==0 && searBarValue?.length > 0">
  <mat-card>
    <h3 class="noResults">No Results Found! :(</h3>
    <p> Your search <strong>{{searBarValue}}</strong> did not return any results.</p>
    <mat-list>
      <mat-list-item>Work Orders are searchable by description, requestor, status, location, and driver. </mat-list-item>
      <mat-list-item>Tasks are searchable by tool, test-contact, description, and resource.</mat-list-item>
    </mat-list>
  </mat-card>
</div>
