<div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
    <div style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
        <mat-card class="mat-card">
                <mat-card-header class="mat-card-header-sm">
                <mat-card-title>Small Mock Graph A</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <app-real-time-data-graph></app-real-time-data-graph>
                </mat-card-content>
        </mat-card>
    </div>
    <div style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
            <mat-card class="mat-card">
                    <mat-card-header class="mat-card-header-sm">
                    <mat-card-title>Small Mock Graph B</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-real-time-data-graph></app-real-time-data-graph>
                    </mat-card-content>
            </mat-card>
    </div>
    <div style="flex: 1 1 33.33%; box-sizing: border-box; max-width: 33.33%;">
            <mat-card class="mat-card">
                    <mat-card-header class="mat-card-header-sm">
                    <mat-card-title>Small Mock Graph C</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-real-time-data-graph></app-real-time-data-graph>
                    </mat-card-content>
            </mat-card>
    </div>
</div>
<div>
    <mat-card class="mat-card-wide">
                    <mat-card-header class="mat-card-header-lg">
                    <mat-card-title>Wide Mock Graph</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-real-time-data-graph></app-real-time-data-graph>
                    </mat-card-content>
    </mat-card>
</div>
